#existUser
{
	display: none;
	margin-top: 12px;
}
/*Input Image*/
.image-input{
	border: 1px solid #ced4da;
	min-height: 185px;
	border-radius: 0.25rem;
}
.image-show{
	min-height: 155px;
}
.image-input-context{
	position: relative;
	z-index: 0;
	top: 50px;
	color: #C8C9C7;
	text-align: center;
	justify-content: center;
}
/* / Input Image*/

/*Image*/
.thumb-image{
	position: relative;
	z-index: 1;
	height: auto;
	width: 100px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}
.thumb-image-detail
{
	border-radius: 0.5rem;
	
	height: 150px;
	width: auto;
}
.div-thumb
{
	float: left;
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;

}
.btn-thumb-image-detail
{
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 2px;
	
}
/* / Image*/
.description-show
{
	width: 250px;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: 40px;
}
.tab-content
{
	border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    border: 1px solid #EEE;
    border-top: 0;
    padding: 15px;
}
@media (min-width: 1200px)
{
  .mid-space 
  {
    margin-left: 70px;
  }
}
.btn-custom
{
	border-radius: 0rem;
	padding: 10px 30px 10px 30px;
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
}
.tab-content
{
	border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    border: 1px solid #EEE;
    border-top: 0;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}